@use "../../styles/partial/colors" as *;
@use "../../styles/partial/mixin" as *;
.signup {
  padding: 1rem;
  display: flex;
  justify-content: center;

  @include tablet {
    display: flex;
    justify-content: center;
  }

  @include desktop {
    display: flex;
    justify-content: center;
  }

  &__wrapper {
    border: 1px solid $color-cloud;
    border-radius: 0.55rem;
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0.55rem 0.55rem $color-cloud;
    width: 290px;

    @include tablet {
      display: flex;
      justify-content: column;
      width: 290px;
      height: inherit;
    }

    @include desktop {
      display: flex;
      justify-content: column;
      width: 290px;
      height: inherit;
    }
  }
  &__title {
    font-size: 1.5rem;
    margin: 1rem 0 0.55rem 6rem;

    @include tablet {
      margin: 1rem 0 0.55rem 7rem;
    }

    @include desktop {
      margin: 1rem 0 0.55rem 7rem;
    }
  }

  &__input {
    width: 90%;
    border: 1px solid $color-cloud;
    padding: 0.55rem 0.91rem;
    margin-bottom: 0.55rem;
    border-radius: 0.55rem;
  }

  &__label {
    line-height: 2rem;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.55rem 1rem;
    width: 90%;
  }

  &__signup-button {
    margin: 0.55rem 0;
    border: none;
    width: 100%;
    padding: 0.55rem 0;
    border-radius: 0.55rem;
  }
}
