@font-face {
  font-family: "avenir-regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.eot") format("eot"),
    url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf"),
    url("../../assets/fonts/AvenirNextLTPro-Regular.ttf") format("ttf"),
    url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"),
    url("../../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "avenir-bold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.eot") format("eot"),
    url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("otf"),
    url("../../assets/fonts/AvenirNextLTPro-Bold.ttf") format("ttf"),
    url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"),
    url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff");
  font-weight: 700;
}
