@use "../../styles/partial/colors" as *;
@use "../../styles/partial/mixin" as *;

.about {
  padding: 1rem;

  @include desktop {
    padding: 1rem 5rem;
  }
  &__wrapper {
    border: 1px solid $color-cloud;
    border-radius: 0.55rem;
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0.55rem 0.55rem $color-cloud;
    flex-wrap: wrap;
    row-gap: 1ch;
    column-gap: 1ch;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 700;
  }

  &__descriptions {
    padding: 1rem;
    color: $color-black;
  }

  &__descriptions-paragraph {
    padding: 0.55rem 0;
    font-size: 1rem;
  }

  &__contact-me {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }

  &__contact-me-link {
    padding: 0.55rem 0;
  }

  &__contact-me-anchor {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
  }

  &__contact-me-icon {
    padding-right: 0.5rem;
  }

  &__contact-me-address {
    color: $color-black;
    font-weight: 700;
  }
}
